version: 1.{build}.0
image: Visual Studio 2017
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- appveyor-retry dotnet restore
build_script:
- dotnet build
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: GYPD3NlLRmuYJQ+aSDJs11eai92Dsi5PFOYDWGAWrp/S+ZBFoy2cGNJFFuNvsOqL
